:local .container {
  padding: 20px;
  background-color: #ffffff;
}
:local .search {
  width: 806px;
  height: 32px;
  border: 1px solid #1f2b39;
  border-radius: 2px;
  overflow: hidden;
}
:local .search input[type="text"] {
  padding-left: 20px;
  border: none;
  outline: none;
}
:local .search button {
  width: 110px;
  background-color: #1f2b39;
  border: none;
  outline: none;
}
:local .search button span {
  display: block;
  margin-right: 14px;
  width: 18px;
  height: 18px;
  background-image: url(../../../../../images/icon_search.png);
}
:local .search button p {
  line-height: 32px;
  font-size: 14px;
  color: #ffffff;
}
:local .insert {
  position: relative;
  display: block;
  margin-left: 30px;
  width: 194px;
}
:local .insertMethod p {
  width: 104px;
  line-height: 32px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background-color: #ff530c;
  border-radius: 2px;
  cursor: pointer;
}
:local .insertMethod a {
  margin-left: 20px;
  color: #1098df;
  text-decoration: underline;
}
:local .insert a.toAdd {
  display: block;
  line-height: 30px;
  font-size: 14px;
  color: #ff530c;
  text-align: center;
  border: 1px solid #ff530c;
  border-radius: 32px;
}
:local .insertItem {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 99;
  display: none;
  width: 100%;
}
:local .insertLine {
  width: 100%;
  height: 20px;
}
:local .insertLine span {
  display: block;
  margin-left: 97px;
  width: 1px;
  height: 100%;
  background-color: #ff530c;
}
:local .insertLink {
  border-radius: 32px;
  overflow: hidden;
}
:local .insertLink a {
  float: left;
  display: block;
  width: 50%;
  line-height: 30px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background-color: #ff530c;
}
:local .insert:hover .insertItem {
  display: block;
}
:local .select {
  margin-top: 20px;
  padding: 12px 20px;
  width: 100%;
  background-color: #fbfbfb;
}
:local .mergeTag,
:local .addTag {
  padding-left: 30px;
  width: 160px;
  line-height: 28px;
  border-radius: 30px;
}
:local .mergeTag {
  margin-right: 40px;
  border: 1px solid #17b2e5;
}
:local .addTag {
  color: #ff530c;
  border: 1px solid #ff530c;
}
:local .mergeTag span {
  color: #17b2e5;
}
:local .addTag span {
  color: #ff530c;
}
:local .addTag i {
  display: block;
  margin-right: 14px;
  width: 17px;
  height: 17px;
}
:local .mergeTag i {
  display: block;
  margin-right: 14px;
  width: 17px;
  height: 20px;
}
:local .mergeTag i {
  background-image: url(../../../../../images/icon_tag_mergeTag.png);
}
:local .addTag i {
  background-image: url(../../../../../images/icon_tag_addTag.png);
}

/*弹窗*/
:local .window h4 {
  line-height: 76px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
:local .save,
:local .cancel {
  display: block;
  width: 140px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
}
:local .save {
  color: #ffffff;
  background-color: #ff530c;
}
:local .cancel {
  color: #ff530c;
  border: 1px solid #ff530c;
}
:local .line {
  height: 1px;
  background-color: #f0f1f2;
}