:local .autoComplete {
  position: absolute;
  top: 28px;
  padding: 5px 10px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dadbde;
  border-top: none;
}
:local .autoComplete a {
  line-height: 24px;
}
:local .autoItem {
  display: block;
}
:local .autoComplete a.autoAddNew span {
  color: #1098df;
}